.outer-scroll-container {
    height: 100%;
    overflow-y: scroll;
}

.inner-scroll-container {
    height: 200%;
    overflow-y: scroll;
}

.image-grid {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}